In [ ]:
conn = sqlite.connect("state.db")
conn.execute("CREATE TABLE state (name TEXT PRIMARY KEY, age INT NOT NULL)")

conn.commit()
conn.close()

conn = sqlite.connect("state.db")

conn.execute('INSERT INTO state (name, age) VALUES("John Doe", 45)')

conn.commit()

conn.close()


# This is to see the contents in the file created
conn = sqlite.connect("state.db")

curs = conn.cursor()

content = curs.execute("SELECT * FROM state")
# SInce this print content didnt work, we are trying to use a for loop to print the content of thefile
print(content)

for record in content:
    print(record)

conn.close()

In [ ]:
import sqlite3 as sqlite
# Establish connection with the server
conn = sqlite.connect("database")

# Now create the cursor object to the connection
cur = conn.cursor()

# Run the program
conn.close()

In [ ]:
# Establish connection with the server
conn = sqlite.connect("pupil.db")

# Now create the cursor object to the connection
cur = conn.cursor()

# Create table
#Adding id as a primary key, auto increment to inentify uniquely
def create_table():
    cur.execute("CREATE TABLE pupil(id interger primary key auto increment, name text)")

# We are not going to be passing the id as its not required because id is automatically passed
def insert_value(name):
    cur.execute("INSERT INTO pupil (name) VALUES(?)",(name))
    conn.commit()

def select_all():
    cur.execute("SELECT * FROM  pupil")
    info = data.fetchall()
    return info

# NOw selecting with condition 
def select_by_name(name):
    data = cur.execute("SELECT * FROM pupil WHERE name = ?",(name,))
    info = data.fetchall()
    return info 

print(select_all())
# Run the program
conn.close()

In [2]:
import sqlite3 as sqlite

conn = sqlite.connect("newstudents.db")

conn.execute('INSERT INTO newstudents (first_name) VALUES("MIRACLE")')

conn.commit()

conn.close()

conn = sqlite.connect("newstudentS.db")


conn.execute('INSERT INTO newstudent (first_name) VALUES("PROMISE")')

conn.commit()

conn.close()

IntegrityError: NOT NULL constraint failed: newstudent.id

In [ ]:
# This is to see the contents in the file created
conn = sqlite.connect("newstudents.db")

curs = conn.cursor()

content = curs.execute("SELECT * FROM newstudents")
# SInce this print content didnt work, we are trying to use a for loop to print the content of thefile
print(content)

for record in content:
    print(record)

conn.close()